.container{
  margin-top: 1%;
}
.head{
    text-align: center;
    color:rgb(87, 101, 114);
    font-family: Roboto;
    font-size: 26px;
    line-height: 31px;
    font-weight: 400;
}
#main{
    min-width: 100%;
    min-height: 400px;
    align-content: center;
    position: relative;
    display: inline-block;
    padding-bottom: 1.125em;
}
.sub{
    min-width: 100%;
    min-height: 100px;
    display: inline;
}
.inbox{
    color:white;
    width: 60px;
    height: 60px;
    cursor: unset;
}
.box{
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 80px;
    height: 80px;
    border: 0.3px solid lightslategray;
    color:white;
    font-size: medium;
}

.box:active{
    border-bottom: 4px solid rgb(6, 106, 55,0.4)!important;
    outline: 0;
    box-shadow: 0 0 0 0.26rem rgb(6, 106, 55,0)!important;
}
.box:hover{
    opacity: 0.7;
    cursor: pointer;
}
.box:focus{
    border-color: rgb(6, 106, 55,0.2)!important;
    outline: 0;
    box-shadow: 0 0 0 0.26rem rgb(6, 106, 55,0.2)!important;
}

.click {
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
}
  
.click:hover {background-color: #3e8e41}
  
.click:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.border1 {border: 3px solid indigo;}
.border2 {border: 2px dashed purple;}
.border3 {border: 2px solid pink;}
.border4 {border: 2px dashed orange;}
.border5 {border: 2px solid yellow;}
.border6 {border: 2px dashed green;}
.border7 {border: 2px solid teal;}
.border8 {border: 2px dashed red;}
.border9 {border: 3px solid blue;}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 12px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .btn-link{
    margin-top: 6px;
  }
.loadhead{
  margin: auto;
  margin-top:10%;
  text-align: center;
  color:rgb(87, 101, 114);
  font-family: Roboto;
  font-size: 32px;
  line-height: 31px;
  font-weight: 400;
}
.loadhead1{
  font-family: sans-serif;
  font-size: 22px;
}
  .loader {
    margin: auto;
    margin-top:4%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }